# dataset
data/
*/data/
hymenoptera_data/
*/hymenoptera_data/

# Windows extra files
*.Zone.Identifier

# Python cache
__pycache__/
*.pyc

# model weights and training outputs
*.pth
*.pt
checkpoints/
runs/
